/* noto-sans-jp-regular - latin_japanese */
@font-face {
  font-family: 'MyFont';
  src: url('./fonts/noto-sans-jp-v42-latin_japanese-regular.woff') format('woff'),
    url('./fonts/noto-sans-jp-v42-latin_japanese-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'MyFont';
  src: url('./fonts/noto-sans-jp-v42-latin_japanese-500.woff') format('woff'),
    url('./fonts/noto-sans-jp-v42-latin_japanese-500.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}


/* General Styling */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

html {
  font-family: 'MyFont';
}

p {
  font-size: 24px;
  line-height: 1.6;
}

header {
  color: #fff;
  background-color: #99582a;
}

#content {
  display: flex;
  flex-direction: column;
  

  color: #222;
}


/* Header Section */

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 2rem 0 4rem;
}

.header-title {
  font-size: 32px;
  cursor: pointer;
}

.header-links {
  display: flex;
}

.header-link {
  font-size: 18px;
  padding: 2rem 2rem;
}

.header-link:hover {
  background-color: #432818;
  cursor: pointer;
}

.selected {
  text-decoration: underline;
}


/* Hero Section */

.hero-section {
  background: url('./imgs/hero-img.jpg');
  background-size: cover;
  width: 100vw;
  height: 40rem;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 2rem;
  margin-bottom: 12rem;
}

.title-box {
  color: #eee;
}

.title {
  text-align: center;
  color: #eee;
  font-size: 92px;
}

.title-text {
  font-size: 24px;
  text-align: center;
}


/* Review Section */

.review-section {
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 12rem;
}

.review-header-box {
  display: flex;

  align-items: center;
  justify-content: center;

  gap: 3rem;
  margin-bottom: 3rem;
}

.review-header {
  color: #432818;
  font-size: 44px;
  width: 100%;
  text-align: center;
}

.line {
  border: 2px solid #432818;
  width: 100%;
  height: 0;
}

.review-box {
  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 2rem;
}

.review-card {
  padding: 2rem;
  border-radius: 6px;
}

.review {
  font-size: 32px;
  font-weight: 500;
}

.review-author {
  font-size: 18px;
}

.hours-section {
  color: #eee;
  background-color: #99582a;
  max-width: fit-content;
  margin: 0 auto;

  padding: 4rem;
  margin-bottom: 4rem;
  border-radius: 6px;
}

.hours-header {
  text-align: center;
  padding-bottom: 2rem;
}

.hours {
  padding: 0.4rem;
  text-align: center;
}

.menu-section {
  margin-top: 3rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 4rem;

  color: #434;
}

.logo {
  height: 14.4rem;
  width: 15rem;
  border-radius: 10px;

  cursor: pointer;
}

.menu-box {
  margin-bottom: 6rem;
}

.menu-title-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-title {
  font-size: 36px;
}

.menu-line {
  width: 50vw;
  border: 2px solid #434;
}

.menu-item {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}