/* noto-sans-jp-regular - latin_japanese */
@font-face {
  font-family: 'MyFont';
  src: url('./fonts/noto-sans-jp-v42-latin_japanese-regular.woff') format('woff'),
    url('./fonts/noto-sans-jp-v42-latin_japanese-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: 'MyFont';
}

p {
  font-size: 24px;
  line-height: 1.6;
}

nav {
  color: #fff;
  background-color: #99582a;
}

#content {
  display: flex;
  flex-direction: column;
  

  color: #222;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 2rem 0 4rem;
}

.nav-links {
  display: flex;
}

.nav-link {
  padding: 2rem 2rem;
}

.nav-link:hover {
  background-color: #432818;
  cursor: pointer;
}

.selected {
  text-decoration: underline;
}

.title {
  font-size: 42px;
}

